@model IEnumerable<Tecrübelerim>

                <section id="resume" class="resume section">

                    <!-- Section Title -->
                    <div class="container section-title" data-aos="fade-up">
                        <h2>Tecrübelerim</h2>
                        <p>
                            Yazılım geliştirme alanında edindiğim tecrübeler sayesinde, karşılaştığım zorlukları hızlıca analiz ederek en uygun çözüm yollarını bulabiliyor ve projelerin başarıyla tamamlanmasına önemli katkılar sağlayabiliyorum.
                        </p>
                    </div><!-- End Section Title -->

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                                <h3 class="resume-title">İş Hayatı</h3>
                                @foreach (var item in Model.Where(x => x.Tip == "İş Hayatı"))
                                {
                                    <div class="resume-item">
                                        <h4>@item.Baslik</h4>
                                        <h5>@item.Date</h5>
                                        <p><em>@item.Unvan</em></p>
                                        <p>@item.Aciklama</p>
                                    </div>
                                }

                                <h3 class="resume-title">Eğitim</h3>
                                @foreach (var item in Model.Where(x => x.Tip == "Eğitim"))
                                {
                                    <div class="resume-item">
                                        <h4>@item.Baslik</h4>
                                        <h5>@item.Date</h5>
                                        <p><em>@item.Unvan</em></p>
                                        <p>@item.Aciklama</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section><!-- /Resume Section -->
   